@model AddProjectViewModel

@{
    var defaultStartDate = DateTime.Today.ToString("yyyy-MM-dd");
    var defaultEndDate = DateTime.Today.AddDays(30).ToString("yyyy-MM-dd");

    var statusesResult = await statusService.GetAllStatusesAsync();
    var statuses = statusesResult.Data;

    var clientResult = await clientService.GetAllClientsAsync();
    var clients = clientResult.Data;

    var membersResult = await memberService.GetAllMembersAsync();
    var members = membersResult.Data;
}

<div id="add-project-modal" class="_modal">
    <div class="_modal-content">
        <div class="_modal-header">
			<h3>Add Project</h3>
			<button class="_btn-close" type="button" data-close="true"></button>
		</div>

		<form novalidate asp-action="Add" method="post" asp-controller="Projects" class="modal-form">

			<div class="image-previewer circle">
				<img src="" class="image-preview" />
				<input asp-for="ProjectImage" accept="image/*" class="hide"/>
			</div>

            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Title" class="form-control text-input">
                    <span asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="ClientId" class="form-label"></label>
                <div class="field-group">
                    <select asp-for="ClientId" class="form-control">
                        <option selected disabled hidden>---- Select a client ----</option>
                        @foreach (var client in clients ?? [])
                        {
                            <option value="@client.Id">@client.ClientName</option>
                        }
                    </select>
                    <span asp-validation-for="ClientId"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Description" class="form-control text-input" >
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="StartDate" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="StartDate" value="@defaultStartDate" class="form-control date-input start-date" type="date">
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="EndDate" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="EndDate" value="@defaultEndDate" class="form-control date-input end-date" type="date">
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="StatusId" class="form-label"></label> 
                <div class="field-group"> 
                   <select asp-for="StatusId" class="form-control">
                        <option selected disabled hidden>---- Select a status ----</option>
                        @foreach (var status in statuses ?? [])
                        {
                            <option value="@status.Id">@status.StatusName</option>
                        }
                     </select> 
                    <span asp-validation-for="StatusId"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="MembersIds" class="form-label"></label>
                <div class="field-group">
                    <select asp-for="MembersIds" class="form-control">
                        <option selected disabled hidden>---- Select a member ----</option>
                        @foreach (var member in members ?? [])
                        {
                            <option value="@member.Id">@member.FirstName @member.LastName</option>
                        }
                    </select>
                    <span asp-validation-for="MembersIds"></span>
                </div>
            </div>

            @* <div class="form-group"> *@
            @*     <div class="form-label">Members</div> *@
            @*     <div id="tagged-users" class="form-input form-tag-select"> *@
            @*         <input type="text" id="user-search" class="form-tag-input" placeholder="Add member..." /> *@
            @*         <label for="user-search" class="fa-solid fa-ellipsis"></label> *@
            @*         <div id="user-search-results" class="search-results"></div> *@
            @*     </div> *@
            @* </div> *@

            <div class="mb-3">
                <label asp-for="Budget" class="form-label"></label>
                <div class="field-group">
                    <input asp-for="Budget" class="form-control text-input">
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>
			
			<button class="btn-base btn-blue btn-submit" type="submit">Create</button>
		</form>

	</div>
</div>