@model Project

@{
	var projectMembersNameList = string.Join(", ",
		Model.ProjectMembers
			.Select(m => $"{m.FirstName ?? string.Empty} {m.LastName ?? string.Empty}".Trim())
			.Where(name => !string.IsNullOrEmpty(name))
		);
}

<article class="project-card" data-status="@Model.StatusName.ToLowerInvariant()" 
	data-search-target="project"
	data-search-value-1="@Model.Title"
	data-search-value-2="@Model.ClientName"	
	data-search-value-3="@Model.Description"
	data-search-value-4="@Model.StatusName"
	data-search-value-5="@projectMembersNameList">

	<div class="project-image">
		<img src="@Model.ProjectImageUri" alt="Project image" />
	</div>

	<div class="title-client">
		<h2 class="project-title">@Model.Title</h2>
		<h3 class="project-client">@Model.ClientName</h3>
	</div>

	@await Html.PartialAsync("Partials/Projects/_ProjectMoreOptions", Model)

	<p class="project-description">@Model.Description</p>

	<div class="_bottom-container">

		<div class="deadline">
			<i class="fa-regular fa-clock"></i>
			<span class="_time-left" data-time-left="@Model.EndDate.ToString("yyyy-MM-dd")">
				@Model.EndDate.ToShortDateString()
			</span>
		</div>

		<div class="project-members">
			@foreach (var member in Model.ProjectMembers.Take(4))
			{
				<div class="avatar-img-container">
					<img src="@member.ImageUri" alt="Member Avatar" />
				</div>
			}
		</div>

	</div>
</article>