@model Project

@{
	var selectedUsersJson = JsonSerializer.Serialize(
		Model.ProjectMembers.Select(m => new
		{
			id = m.Id,
			imageUri = m.ImageUri,
			fullName = m.FirstName + " " + m.LastName
		})
	);
}

<article class="project-card" data-status="@Model.StatusName.ToLowerInvariant()">

	<div class="project-image">
		<img src="@Model.ProjectImageUri" alt="Project image" />
	</div>

	<div class="title-client">
		<h2 class="project-title">@Model.Title</h2>
		<h3 class="project-client">@Model.ClientName</h3>
	</div>

	@await Html.PartialAsync("Partials/Projects/_ProjectMoreOptions", Model)

	<p class="project-description">@Model.Description</p>

	<div class="_bottom-container">

		<div class="deadline">
			<i class="fa-regular fa-clock"></i>
			<span class="_time-left" data-time-left="@Model.EndDate.ToString("yyyy-MM-dd")">
				@Model.EndDate.ToShortDateString()
			</span>
		</div>

		<div class="project-members">
			@foreach (var member in Model.ProjectMembers)
			{
			<div class="avatar-img-container">
				<img src="@member.ImageUri" alt="Member Avatar" />
			</div>
			}
		</div>

	</div>
</article>

<script>


	const preSelectedTags = @Html.Raw(selectedUsersJson)

	initTagSelector({
		containerId: 'tags',
		inputId: 'tag-search',
		resultsId: 'tag-search-results',
		searchUrl: (query) => '@Url.Action("SearchTags", "Tags")' + '?term=' + encodeURIComponent(query),
		displayProperty: 'tagName',
		tagClass: 'tag',
		emptyMessage: 'No tags found.',
		preselected: preSelectedTags
	});
</script>
