@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "anonymous";
    var notificationsResult = await notificationService.GetNotificationsAsync(userId);
    var notifications = notificationsResult.Data ?? [];
    var bellId = ViewData["id"] as string ?? "notification-dropdown-button";
    var dropdownId = bellId.Replace("-button", "");
}

<div class="notification-dropdown-container">
    <button id="@bellId" class="notification-bell" data-type="dropdown-btn" data-target="#@dropdownId">
        <i class="fa-solid fa-bell bell">
            <i class="fa-solid fa-circle notification-circle"></i>
        </i>
    </button>

    <div id="@dropdownId" class="notification-dropdown">
        <div class="mobile-handle"></div>
        <div class="notification-header">
            <h4>Notifications</h4>
            <div class="_number-container">
                <span class="notification-number">0</span>
            </div>
        </div>
        <div class="divider">
            <hr />
        </div>

        <div class="notifications">
            @foreach (var notification in notifications)
            {
                <div class="notification-item" data-id="@notification.Id">
                    <div class="_img-container">
                        <img class="image" src="@notification.Icon" />
                    </div>
                    <div class="_text-container">
                        <div class="message">@notification.Message</div>
                        <div class="_time" data-created="@notification.Created.ToString("s")">@notification.Created</div>
                    </div>
                    <button class="_btn-close" onclick="dismissNotification('@notification.Id')"></button>
                </div>
            }
        </div>
    </div>
    <div class="notification-dropdown-backdrop"></div>
</div>